<!-- views/layouts/layout.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <title><%= pageTitle %></title>
    <meta name="description" content="<%= pageDescription%>">
</head>
<body class="min-h-screen">
<div class="container flex flex-col mx-auto">
    <header class="py-3">
        <%- include('../partials/header.ejs')  %>
    </header>
    <main class="flex flex-grow">
        <%- body %>
    </main>
    <footer class="shrink-0"><%- include('../partials/footer.ejs') %></footer>
</div>
</body>
</html>
